*{margin: 0 auto;}
/*  REGISTRO.HTML */
.bodyRegistro {
  background-image: url('../img/background.jpg');
}

.registro{
width: 70vw;
padding: 5px;
border: 1px solid #fff;
margin-top: 30px;
font-family: "Alata","sans-serif" ;
background-color: rgba(255,255,255,.8);


}
.registro h1{
  font-family: "Alata","sans-serif" ;
  font-size: 10px;
}

.formularioR div {
  margin: 10px;
  padding: 2px;
}
#botEnviar {
font-family: "Alata","sans-serif" ;
color:#000;
background-color:#fff ;
}

#botonFacebook {
  width: 60vw;
  padding: 7px;
  color:#000;
  background-color:#fff ;
  font-family: "Alata","sans-serif" ;
}
@media (min-width:1050px){/*desktop*/
  .registro {
    width: 36vw;
  }
  #botonFacebook{
    width: 30vw;
  }


}
      /*TERMINA REGISTRO.HTML*/
      /*LOGIN.HTML*/
.bodyLogin {
  background-image: url('../img/background.jpg');
}
.login {
  width: 70vw;
  padding: 5px;
  border: 1px solid #fff;
  margin-top: 30px;
  font-family: "Alata","sans-serif" ;
  background-color: rgba(255,255,255,.8);
}
.login h1 {
  font-family: "Alata","sans-serif" ;
  font-size: 10px;
}
.formularioL div {
  margin: 10px;
  padding: 2px;
}
#botInresar {
  font-family: "Alata","sans-serif" ;
  color:#000;
  background-color:#fff ;
}
#BotonFacebookIngreso {
  width: 60vw;
  padding: 7px;
  color:#000;
  background-color:#fff ;
  font-family: "Alata","sans-serif" ;
}
@media (min-width:1050px){/*desktop*/
  .login {
    width: 36vw;
  }
  #BotonFacebookIngreso{
    width: 30vw;
  }
}

      /*HOME.HTML */
      .bodyHome {
        background-image: url('../img/background.jpg');
      }
      #HomeSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .titulo{
        padding-top: 19vh;
        padding-bottom: 10vh;
      }
      .titulo img{
        width:55vw;
      }
      #infoMasBotonJ{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #botonJugar button{
        width: 15vmax;
        height: 15vmin;
        padding: 1rem;
        background-color:#fff;
        border:none;
        outline-style: none;
        box-shadow: 0 3vmin #959191;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom:3rem;
        cursor: pointer;

      }
      #botonJugar button a {
        width: 40.5vmax;
        height: 12vmin;
        text-decoration: none;
        text-transform: uppercase;
        color: #FF8000;
        font-family: "Amatic SC", "sans-serif";
        font-size:8vmin;
        padding-left: .5vmax;
        margin-top: -1vmin;
      }
      #botonJugar button:active{
        box-shadow: 0 .5vmin #959191;
        transform: translateY(3vmin);
      }


      #infoMasBotonJ article p {
        width: 80%;
        font-family: "Amatic SC", "sans-serif";
        font-size:7vh;
        background-color: rgba(255,255,255,.8);
        padding: 1.5vw;
        border-radius: 1vw;
        margin-top: 10%;
        margin-left:10%;
        margin-bottom: 10%
      }


     /*HASTA ACA HOME*/

     /*Usuario.html*/
    .usuario{background-image: url('../img/background.jpg');
    /* background-size: 500px 970px; */
    background-size: cover;
  }

    body{
        width: 100%;
    }

    .circulo {
         width: 400px;
         height: 400px;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         border-radius: 50%;
         background: white;
         z-index: 5;
         padding: 45px;
         margin-top: 55px;
         border: 3px solid grey;
    }

    nav{background-color: #D43535;
    height: 50px;}

    ul{overflow: hidden;}

    li{float:right;
    width: 8%;
    padding: 10px;
    list-style: none;}

    a{display: block;
    color: white;
    font-size: 20px;
    font-family: 'Alata', sans-serif;}

    .logo{margin-top: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid black;
      border-radius: 50%;}

      @font-face {
   font-family: 'Penguin-Regular';
   src: local('Penguin-Regular'),url('../fuentes/Penguin-Regular.ttf');
   font-weight: normal;
   font-style: normal;
  }
    .nombre{
    text-align: center;
    font-family: 'Penguin-Regular';
    font-size: 40px;
    margin-top: 10px;
    color: #D43535;
  }

    .horas{text-align: center;
      margin-top: 10px;
      font-size: 25px;
      font-family: 'Alata',sans-serif;
      color:#D43535;
    }
   /*hasta aca usuario.html*/

   /*JUEGO.HTML*/

   .puntajes
   {
    background-color: #000;
    border: 2px blue solid;
    font-size: 15px;
    font-family: 'Alata',sans-serif;
   }

   .preguntas
   {
    background-color: #000;
    border: 2px blue solid;
    color: white;
    font-size: 14px;
    font-family: 'Alata',sans-serif;
   }

   .botonjugar
   {
    border: 2px blue solid;
    color: blue;
    font-size: 15px;
    font-family: 'Alata',sans-serif;
   }

   /*HASTA ACA JUEGO-HTML*/


   /*FAQ style*/
        #bodyFAQ{
        margin: 0;
        padding: 0;
        box-sizing:inherit;
        background-image: url('../img/background.jpg');
        background-size: cover;
      }
      #htmlFAQ{
        font-size: 1vmax;
        box-sizing: border-box;
      }

        .sectionFaq {
        width: 80%;
        height: 100vh;
        font-family: Amatic SC,sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 5rem;
      }
      .container{
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 1.5rem;

      }
      .accordion-item{
        background-color: rgba(255,255,255,0.8);
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding: 1rem;

      }
      .accordion-link{
        font-size: 1.6rem;
        color: black;
        text-decoration: none;
        width: 100%;
        padding: 1rem 0;
      }
      .respuesta{
        max-height: 0;
        overflow:hidden;
        position: relative;
        transition:.6s;

      }
      .respuesta p{

        color: rgba(0, 0, 0, 1);
        font-size: 2rem;
        padding: 2rem;

      }
      .accordion-item:target .respuesta{
        max-height: 25rem;
      }
      /*HASTA ACA FAQ STYLE*/

      /*CONTACTO.HTML*/
      .contacto{
        background-image: url('../img/background.jpg');
        background-size: cover;
        font-family: 'Alata', sans-serif;
      }
      .seccion{
        width: 36vw;
        padding: 5px;
        border: 1px solid #fff;
        margin-top: 30px;
        background-color: rgba(255,255,255,.8);
      }
      .subzonas{
        margin: 10px;
        padding: 2px;
      }
      .datos{
        margin-top: 10px;
        margin-bottom: 10px;
        color: blue;
        text-decoration: none;
      }
      .com{font-family: times-new-roman,sans-serif;
      padding: 3px;}
